.typewriter p {
  color: #EEEEEE;
  overflow: hidden;
  border-right: 0.15em solid #9B7EBD;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  25% {
    border-color: #9B7EBD;
  }
}
